$cornflowerBlue: #6185f8;
$lightCornflowerBlue: #84b4fc;
$saddleBrown: #954b0c;
$jambalaya: #684632;
$green: #138200;
$tulipTree: #eeaf36;
$kimberly: #645f89;
$lightKimberly: #bcc4d8;
$lawnGreen: #73f218;
$olive: #716804;
$darkGreen: #043717;
$harleyDavidsonOrange: #b72504;
